@import url(normalize.css);

@font-face {
    font-family: PlayfiarDisplay;
    src: url("../font/PlayfairDisplay-Regular.ttf");
}

@font-face {
    font-family: Ubuntu-Light;
    src: url("../font/Ubuntu-Light.ttf");
}


.wrapper {
    padding: 50px 150px 0 150px;
    width: 1200px;
    margin: 0 auto;
}

p {
    margin: 0;
}
.header{
    margin-bottom: 100px;
    padding: 0px;
}

.nav {
    display: inline-block;
    margin-left: 165px;
}

a {
    text-decoration: none;
    font-family: PlayfiarDisplay;
    padding: 5px;
    color: grey;
}

li a:hover {
    background-color: lightgray;
}

.article {
    width: 417px;
    display: inline-block;
    vertical-align: top;
    padding: 0 30px 0 30px;
    margin: 0 60px 50px;
}

img {
    margin-bottom: 20px;
}

.text-img-style {
    color: lightgrey;
    font-family: Ubuntu-Light;
}

.text-article-style {
    color: grey;
    font-family: PlayfiarDisplay;
}

.button {
    display: inline-block;
    background-color: white;
    color: black;
    border: 1px solid grey;
    padding: 10px;
    margin-left: 534px;
}